h1 {
    color: rgb(13, 2, 53);
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 3rem;
    font-weight: 1000;
    text-align: center;
    background-color: lightgray;
}

body {
    background-color: lightyellow;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/main.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 1000;
    color: rgb(13, 2, 53);
    text-decoration: none;
}

ul {
    background-color: rgba(211,211,211,0.5);
}

hr{
    border: 1px solid rgb(13, 2, 53);
}

footer {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}